# Archivos de entorno
.env

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
*.egg-info/
dist/
build/

# Entornos virtuales
venv/
env/
ENV/

# Logs
*.log

# Archivos temporales
*.tmp
*.bak
*.swp

# Archivos de sistema
.DS_Store
Thumbs.db
